@charset "UTF-8";
/* CSS Document */

body{font-family: "Avenir";
font-size:16px;}

h3{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
font-size:23px;}

h2{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:29px;}
h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:35px;}

.footer{
	height:200px;
	background-color:white;
	padding-top:20px;
	margin-top:70px;
	padding:10px;}

.header{
	background-color:white;
	padding:10px;
	margin-top:20px;
	font-weight:100}
.main_nav{
	text-align:right;
	margin-bottom:70px}
.main_nav a{
	text-decoration:none;
	color:black;
}
.main_nav ul{
	text-decoration:none;
	display:inline}

.main_nav ul li{
	display:inline;
	margin-left:30px;
	font-size:13px}

.main_nav ul li:hover{
	font-weight:500;}

.content{padding:10px;}

.box{
	text-align:center;
	background-color: hsla(0,0%,100%,0.70);
	height:200px;
	border:solid lightgrey medium;}

.box_2{
	text-align:center;
	background-color: white;
	height:200px;
	border:solid grey 3px;}

.box_3{
	text-align:center;
	background-color: white;
	height:200px;
	border:double grey 4px;}


.footer__icons{
	padding-top:90px;
	text-align:right;}

.footer__text{text-align:left;}

.top_nav{
	text-align:right;
	margin-bottom:10px;}

.top_nav ul{
	text-decoration:none;
	display:inline;}

.top_nav ul li{
	display:inline;
	margin-left:30px;
	font-size:12px;
	padding-right:3px;}

.top_nav a{
	text-decoration:none;
	color:aqua;
}
.top_nav a:hover{
	text-decoration:underline;}

.intro_2{
	text-align:right;
	margin-top:50px;
	}

.intro{
	text-align:center;
	margin-bottom:100px;}

.background{
	background-image:url(assets/TDL-Pattern-01.jpg);
	opacity:70;}

.pic{
margin-top:60px;
text-align:center;}

.pic img{
	border-radius:850px;}

.logo{margin-top:-20px;}

.portfolio{
text-align:center;}

.portfolio img{padding:20px;}

.picture_1{
	border:solid lightgrey 2px;
	margin-top:5px;
}

.pfdetail{
	text-align:center;}

.pfdetail img{
	width:400px;}

button{
	width:120px;
	text-align:center;
	border-radius:25px;
	padding:10px;
	background-color:white;
	margin-top:20px;
	font-size:16px;
	font-weight:100;
}
button a{
	text-decoration:none;
	color:black;}


button_2{
	background-color:red;
	padding:10px;
	padding-right:30px;
	padding-left:30px;
	text-align:center;
	color:white;
	font-size:16px;
}

button_3{
border: solid 2px indianred;
	color:indianred;
	padding:10px;
	padding-right:30px;
	padding-left:30px;
	font-size:16px;
	border-radius:50px;}

button_4{
	padding:10px;
	padding-left:37px;
	padding-right:37px;
	text-align:center;
	background-color:black;
	color:white;
}

button_5{
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 500;
	padding:12px;
	padding-left:40px;
	padding-right:40px;
	text-align:center;
	color:black;
	border-radius:30px;
	border:solid black 2px;
	
}

.margin{
	margin-top:20px;
}

.indianred{
	color:indianred
}
.grey{
	color:grey;
}
.red{color:red;
	
}