@charset "UTF-8";
/* CSS Document */

.grid__column {
    position: relative;
    float: left;
    padding: 0 2px;
}
.grid__wrapper {
    display: block;
    margin: 0;
    padding: 0;
}

.grid__container {
    display: block;
    width: 1280px;
    margin: 0 auto;
    padding: 0 0px;
}

.grid__row {
    display: block;
    margin: 0 0px;
    padding: 0 -10px;
    overflow: hidden;
}

.grid__wrapper:after,
.grid__container:after,
.grid__row:after {
    content: "";
    display: table;
    clear: both;
}

.grid__column-12,
.grid__column-11,
.grid__column-10,
.grid__column-9,
.grid__column-8,
.grid__column-7,
.grid__column-6,
.grid__column-5,
.grid__column-4,
.grid__column-3,
.grid__column-2,
.grid__column-1 {
    position: relative;
    float: left;
	padding-left:7.5px;
}

.grid__column-12 { width: 1260px; }
.grid__column-11 { width: 1155px; }
.grid__column-10 { width: 1050px; }
.grid__column-9 {  width: 945px; }
.grid__column-8 {  width: 840px; }
.grid__column-7 {  width: 735px; }
.grid__column-6 {  width: 620px; }
.grid__column-5 {  width: 510px; }
.grid__column-4 {  width: 408px; }
.grid__column-3 {  width: 306px; }
.grid__column-2 {  width: 204px; }
.grid__column-1 {  width: 102px; }

.grid__development .grid__wrapper {
    background: rgba(255, 0, 0, 0.4);
}
.grid__development .grid__container {
    background: rgba(0, 255, 0, 0.4);
}
.grid__development .grid__row {
    background: rgba(0, 0, 255, 0.4);
}
.grid__development *[class*="grid__column-"] {
    background: rgba(255, 255, 0, 0.4);
    height: 64px;
    margin-bottom: 12px;
    
    text-align: center;
    line-height: 64px;
}
.grid__development *[class*="grid__column-"] > * {
    background: rgba(255, 0, 255, 0.4);
}