@charset "UTF-8";
/* CSS Document */

body{font-family: "Avenir";}

h1, h2, h3{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";}

h3{font-size:23px;}
h2{font-size:29px;}
h1{font-size:35px;}



/*header*/

.header{
	margin-top:30px;
	font-weight:100;
	margin-bottom:160px;}

.top_nav{
	text-align:right;
	margin-bottom:10px;
	font-weight:100;
	margin-right:10px;}

.top_nav ul{
	text-decoration:none;
	display:inline;}


.top_nav ul li,
.top_nav a{
	display:inline;
	margin-left:12px;
	font-size:11px;
	text-decoration:none;
	color:black}


.top_nav a:hover{
text-decoration:underline;
color:hsla(8,96%,71%,1.00)}


#main-navigation {
display:block;
padding-left:12px;
font-size:13px}

#main-navigation ul {
    list-style:none;
    padding:0;
	margin:0}

#main-navigation ul li {
    display:block;
    float:left;
    position:relative}

#main-navigation ul li a {
    display:block;
    text-decoration:none;
    padding:15px 32px;
	color:black;
    text-transform: uppercase;
	border-right:1px solid hsla(8,96%,71%,1.00)}

#main-navigation .active {background-color:hsla(8,96%,71%,1.00)}


#main-navigation > ul > li > a:hover,
#main-navigation > ul > li:hover > a,
#main-navigation > ul > li > a:focus,
#main-navigation > ul > li:focus > a,
#main-navigation > ul > li.active > a
{
    background-color:hsla(8,96%,71%,1.00);
    color:white;
    transition:all 250ms ease-in 0s;
}

#main-navigation > ul > li.SubMenu > a::before {
	position: absolute;}

#main-navigation ul li ul {
    position:absolute;
    left:0;
    top:100%;
    width:240px;
    margin:0;
    padding:0;
    list-style: none;
    display:none;
	margin-left:-32px;}

#main-navigation > ul li:hover > ul {
    display:block;}


#main-navigation ul li ul li a {
    display:block;
	font-size:11px;
	background-color:white;
    text-decoration:none;
	border:none;
	margin-left:-1px;}

#main-navigation ul li ul li a:hover{
color:orangered;}

.logo img{
margin-top:-15px;
margin-left:12px;
width:60px;}

.hero{
margin-left:12px;
margin-right:12px;
margin-top:12px;
background:url(assets/robert-katzki-119134.jpg);
background-repeat: no-repeat;
background-position:top center;
background-size:1280px;
height:400px;
margin-bottom:30px;}

.hero__text{
	color:white;
	text-align:center;}

.hero__text h1{
font-size:70px;
margin-top:100px;}

/*Einde header*/


.box{
	text-align:center;
	background:hsla(0,0%,100%,0.70);
	padding-top:12px;
	margin:12px;
	padding-bottom:30px;
	border-bottom:1px lightgrey solid;
	border-right:1px solid lightgrey;
	border-top:solid 1px hsla(0,0%,0%,0.05);
	border-left:solid 1px hsla(0,0%,0%,0.05);}

a .box{
	text-decoration:none;
	color:black;}

a .box:hover{
	border:1px white solid;
	background-color:white;}

.box img{
	float:left;
	margin-top:20px;
	margin-right:-130px;
	padding-left:50px;
	width:90px;}

.box_2 li,
.box_2 p,
.box_2 table{
margin:12px;
text-align:left;}


.box_2 {
padding:12px;
min-height:351px;
text-align:center;
padding-bottom:30px;
background-color:hsla(8,96%,71%,1.00);
color:white;
text-decoration-color: white;
margin:12px}x

.box_3{
	margin-left:12px;
	margin-top:12px}

.box_4{
min-height:200px;
padding-bottom:30px;
border:hsla(8,96%,71%,1.00) solid 1px;
margin:12px}

.content_2{
text-align:right;
margin-top:20px;
margin:12px;}

.content{
margin-bottom:15px;
padding-bottom:60px;
margin-left:12px;
margin-right:12px;
margin-top:12px;
padding-top:30px;
background-color:hsla(8,96%,71%,1.00);
color:white;
text-align:center;}


.background{
background-image:url(assets/TDL-Pattern-01.jpg);
background-repeat: repeat-x;
background-position: center;
width:1280px;
margin-left:11px;}

.picture{
margin-top:90px;
text-align:center;}

.picture img{
border-radius:360px;
width:180px;}

.picture_1{
	border:solid 1px lightgrey;
	margin:12px;
	text-align:center;
	padding:35px;}

a .picture_1:hover{
	border:solid 2px hsla(8,96%,71%,1.00);}

footer button{margin-left:-12px;}

fieldset{
	border:solid 1px lightgrey;
	width:auto;
	margin-left:-12px;}

legend{
	margin-left:-12px;
	margin-bottom:12px;
	font-weight: 400;}

form h1{
	margin-top:-20px;
margin-left:-12px;}

.Subscribe{
	width:150px;}

#webdesign{margin:12px;}

#graphic_design{margin:12px;}

#frmRegistration{margin:12px;}

table td{width:109px;}

.subscript{
	text-align:center;
	margin-top:30px;
	color:gray;
	font-weight:100}

.subscript h1,
.subscript h2{color:black}

.date{
	color:hsla(8,96%,71%,1.00);
	font-size:12px;
	text-align:center;
	margin-bottom:30px;
	margin-top:12px;
}


#lucid{}
#24MX{}
#Lotus{}
#Hogere_sferen{}


/*footer*/


.footer{
	text-align:center;
	border-top:solid 1px lightgrey;
	font-weight:100;
	color:grey;
	height:auto;
	margin:12px;
	margin-top:120px;
	border-right:none;
	border-left:none;
	background-color:white;}

.footer ul{
	text-align:left;
	text-decoration:none;
	display:block;
	font-size:12px;
	padding-top:3px;}

.footer ul li,
.footer li a{
text-decoration:none;
color:grey;
display:block;
margin-left:-12px;}


.footer ul li a:hover{
color:hsla(8,96%,71%,1.00);
text-decoration:underline;
cursor:pointer;}

.icons{padding-right:12px;
text-align:right;}

.icons img{
margin-top:5px;
width:35px;}

footer fieldset{
text-align:center;}

.elements{
	font-size:10px;
	padding-top:1px;
	margin-top:24px;
	text-align:left;
	background-color:hsla(0,67%,63%,1.00);
	padding-bottom:2px;}

.elements ul{
	display:block;
	text-decoration:none;
	margin-left:-12px;}

.elements ul li{
	display:inline;
	padding-right:6px;
	margin-right:12px;
	color:white;
	border-right:1px solid white;}

/*Einde Footer*/



/*Buttons*/



.button6{
	border:solid lightgray 1px;
	width:150px;
	margin-left:245px;
	margin-bottom:90px;
	margin-top:30px;}

.button6 a{
	text-decoration:none;
	color:dimgray;
	text-align:center;
	font-size:11px;
	text-transform:uppercase;}


a.button5{
	background-color:white;
	font-size:26px;
	text-align:center;
	padding-top:4px;
	padding-bottom:5px;
	padding-left:11px;
	padding-right:11px;
	border-radius:400px;
	text-decoration:none;
	color:hsla(8,96%,71%,1.00);
	font-weight:500;}

.button5:hover{
	background-color:transparent;
	color:white;
	border:solid 1px white}

a.button4{
	background-color:white;
	color:hsla(8,96%,71%,1.00);
	font-size:13px;
	text-align:center;
	border-radius:360px;
	padding-top:11px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	margin-right:30px;
	border:solid 1px hsla(8,96%,71%,1.00);
	text-decoration:none;}

.button4:hover{
	color:white;
	background-color:hsla(8,96%,71%,1.00);
	border:solid 1px white}

.button3{	
	font-size:12px;
	text-align:center;
	border-radius:360px;
	padding-top:11px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	color:hsla(8,96%,71%,1.00);
	border:solid white 1px;
	background-color: white;
	float:right;
	margin-right:30px;
	margin-bottom:30px;}

.button3:hover{
	background-color:hsla(8,96%,71%,1.00);
	color:white;
	border:solid 1px white;
	cursor:pointer;}

.button2{
	font-size:12px;
	text-align:center;
	border-radius:360px;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:15px;
	margin-top:15px;
	background-color:hsla(8,96%,71%,1.00);}

.button2:hover{
background-color:white;
border:solid red 1px;
color:red}

button{	
	font-size:10px;
	text-align:center;
	border-radius:360px;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:12px;
	padding-right:12px;
	margin-top:15px;
	border:none;
	color:white;
	background-color: gray;
	cursor:pointer;}

button:hover{	
	background-color:hsla(8,96%,71%,1.00);
	color:white;}


/*Einde Buttons*/